/* Body and Typography */
body {
    font-family: 'Inria Sans';
    font-size:larger;
    color: #16423C;
    margin: 0;
    background-color: #f4f4f9;
    line-height: 5vw;
    padding-bottom: 50px;
}

/* Header */
header {
    text-align: center;
    background: linear-gradient(135deg, #16423C, #20b2aa);
    color: white;
    padding: 60px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

header h1 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

header p {
    font-size: 1.5vw;
    font-weight: 300;
    text-align: center;
}

/* Section Styling */
section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    font-size: 2.5vw;
    color: #16423C;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #20b2aa;
    margin: 10px auto 0;
}

/* Text and List Styling */
p, li {
    font-size: 1.2vw;
    margin-bottom: 20px;
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('./resources/images/checkmark.png') no-repeat left center;
    padding-left: 30px;
    font-size: 1.2vw;
    line-height: 1.8;
}

/* Leadership Section */
#leadership {
    text-align: center;
}

.leader {
    margin: 40px 0;
}

.leader img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.leader h3 {
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 10px;
    color: #20b2aa;
}

.leader p {
    font-size: 1.1vw;
    line-height: 4vw;
}

/* Footer */
footer {
    text-align: center;
    background-color: #16423C;
    color: white;
    padding: 30px 20px;
    margin-top: 50px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1.2vw;
}

footer a {
    color: #20b2aa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
