/* Body and Typography */
body {
    font-family: 'Inria Sans';
    background-color: #f7f8f8;
    color: #16423C;
    margin: 0;
    font-size:2vw;
    padding: 0;
}
#banner h1
{
    font-size: 5vw;   
}

header {
    text-align: center;
    background-color: #16423C;
    color: white;
    padding: 50px 20px;
}
p{
    font-size:2vw;
}


section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 4vw;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 2vw;
    margin-bottom: 10px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 2vw;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 2vw;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 30px;
    padding: 15px;
    font-size: 1.5vw;
    background-color: #16423C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0f2d29;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #16423C;
    color: white;
    margin-top: 50px;
}
